fastapi
redis
uvicorn # asgi runner
tomli_w
passlib # password hashing
environs # .env reader
bcrypt # password hashing
requests
pyjwt # jwt authentication
asgiref
psycopg2-binary # postgresql driver
sqlalchemy # database
alembic # migrations control
pyinstrument # profiling
python-multipart # fastapi file upload
pytest # pytest
pytest-asyncio # pytest
httpx # pytest
boto3 # s3 storage
python-magic # validate file mime type